.follow {
  right: 0px;
  float: right;
  color: white;
  margin: 20px 0 0 0;
  padding: 5px;
  padding-left: 15px;
  background-color: #b71c1c;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
}

.icon {
  padding-right: 5px;
}

.index {
  margin-left: 21%;
  width: 77%;
  margin-top: 25px;
  margin-bottom: 55px;
}

.index_tablet {
  padding: 20px;
  background-color: black;
  border-radius: 5px;
}

.index_mobile {
  padding: 20px;
  background-color: black;
  border-radius: 5px;
}
